@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

button {
  outline: none;
  border: none;
  background: none;
}

input:focus {
  outline: none;
  border: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

#root {
  display: flex;
  background-color: #1f1d2b;
  width: 100%;
  max-width: 1440px;
  color: white;
}
